#cstLogo{
	    margin-top:20px;
		margin-left: 50px;
	    height:80px;
	    width: 300px;


}

header {
    width: 100%;
	height:150px;
    background: #bfbfbf;
	margin: 0;
	
}
  
header h3 {
    margin-top:20px;
    margin-right: 50px;
	

}

.optionBar{
	text-align:right;
	margin-top: 15px;
}

.optionBar a{	
	margin-right:50px;
	display: inline-block;
    font-size: 13pt;
	font-weight: bold;
}

.optionBar a:link{
	text-decoration: none;	
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  
}

.modal-content p{
  text-align: center;
  font-size: 20px;
}

.modal-content button{
  margin-right:70px;	
  margin-left:70px;
  width:150px;
  height:40px;
  border-radius: 4px;
}
.acceptBtn{
	background-color: #4da901;
	color:#FFFFFF;	
}

.denialBtn{
	background-color: #B30838;
	color:#FFFFFF;	
}

nav{
	margin:0;
	font-weight: 700;

}

nav a{
	margin-left: 50px;
}
nav a.active {
    background-color: #e5e5e5;

	
	border-radius: 6px;
	
}

.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
    height: 100%;


	padding:0;
	margin:0;
}

.viewStudents{
	font-size: 16px;

	margin-bottom: 20px;
	margin-top:20px;
}

.wrapper {
    max-width: 650px;
    padding: 30px;
    margin: 25px auto;
    background-color: rgba(223, 223, 223, 0.4);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

    .wrapper .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #b30838;

        
    }
	
.title {
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0 25px 0;
        color: #B30838;
        text-align: left;
		padding: 0;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}



.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  margin-left: 0;
  list-style-type: none;
  background: #ffffff;
  font-size: 20px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

.viewAllBtn{
	background-color: #B30838;
	color:#FFFFFF;
	margin-top: 20px;
	margin-left: 30%;
	font-size: 20px;	
}

.searchBtn{
	display: inline-block;
	margin-top: 20px;
}

.searchBtn button{
	background-color: #B30838;
	color:#FFFFFF;
	margin-right:100px;
	font-size: 20px;
	width:250px;
	
}

.processBtn{

	margin-top: 20px;
	margin-left: 350px;
}

.processBtn button{
	background-color: #B30838;
	color:#FFFFFF;
	margin-right:70px;
	font-size: 20px;
	width:250px;
	
}

.appBtn{
	margin-top: 50px;
	margin-bottom: 80px;
	margin-right:1px;	
	font-size: 20px;
	height:60px;
	width:320px;
    border: none;
	border-radius: 6px;
}

.appBtn:focus{
	background-color: #B30838;
	color:#FFFFFF;@import url('file:///C:\Users\Administrator\Desktop\ApplicationStyles.css');
}

.appView{
	margin: auto;
	  width: 50%;
	  padding: 10px;

}

.appView1{

  
	font-weight: 600;
	
}

#btnSubmitSettings {
    background-color: #B30838;
    outline-color: #B30838;
    border-color: #B30838;
}


.appView2 {
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

.appView label{
	display: inline;
}

.nextAPP{
	display: inline;
	magin-top:25px;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}

.form input{
	width:400px;
}

.form .inputfield {
	width:400px;
	}
		.form .inputfield .custom_select {
            position: relative;
            width: 100%;
            height: 37px;
			}
		
		
		.form .inputfield .custom_select:before {
			   content: "";
		       position: absolute;
		       top: 12px;
		       right: 10px;
		       border: 8px solid;
		       border-color: #B30838 transparent transparent transparent;
		       pointer-events: none;
		   }
		
        .form .inputfield .custom_select select {
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            width: 100%;
            height: 100%;
            border: 0px;
            padding: 8px 10px;
            font-size: 15px;
            border: 1px solid #d5dbd9;
            border-radius: 3px;
        }  
		
		.form .inputfield .input:focus,
		 .form .inputfield .custom_select select:focus {
		    border: 1px solid #B30838;
		}
		
		.form .inputfield p {
		    font-size: 14px;
		    color: #B30838;
		}
		
		.form .inputfield .check {
		    width: 15px;
		    height: 15px;
		    position: relative;
		    display: block;
		    cursor: pointer;
		}
		
		
		    .form .inputfield .check .checkmark {
		        width: 15px;
		        height: 15px;
		        border: 1px solid #B30838;
		        display: block;
		        position: relative;
		    }



table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

tables tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #B30838;
  color: white;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:40px;
  background-color:#bfbfbf;
  color: white;
  text-align: center;
}

footer p{
	margin:8px;
}

.modal-content footer{
	margin-top:20px;
	position: relative;
	background-color:#FFFFFF;

}

#logInBody 
{
    height: 100vh;
    margin-top: -7%;
    background-image: url('images/liberalarts_owl_hero2020-min.png');
    background-size: cover;
}

#login 
{
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.96);
    height: 640px;
    width: 42%;
    text-align: center;
    font-family: 'Century Gothic', Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 7%;
    border-radius: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#personImg
{
    height: 150px;
    width: 175px;
}

label
{
    font-size: 18px;
}

#txtUsername 
{
    height: 36px;
    width: 240px;
}

#txtPassword 
{
    height: 36px;
    width: 240px;
}

