@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    font-family: Roboto;
    margin: 0;
    background: #f4f4f4;
    padding: 0;
    height: 100%;
}
#cstLogo {
    margin-top: 20px;
    margin-left: 50px;
    height: 80px;
    width: 300px;
}

header {
    width: 100%;
    height: 150px;
    background: #bfbfbf;
    margin: 0;
}

    header h3 {
        margin-top: 20px;
        margin-right: 50px;
    }

.optionBar {
    text-align: right;
    margin-top: 15px;
}

    .optionBar a {
        margin-right: 50px;
        display: inline-block;
        font-size: 13pt;
        font-weight: bold;
    }

        .optionBar a:link {
            text-decoration: none;
        }

nav {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

    nav a {
        margin-left: 50px;
    }

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    padding: 0;
    margin: 0;
}


#jumbotronID {
    height: 130px;
}
.rightFloater {
    float: right;
}
#jumbowumbo {
    border-radius: 20px;
    background: #fff;
    padding: 30px;
    text-align: center;
    color: #444444;
}
#advisorEmails {
    color: #9E1B34;
    
}
#closerParagraphs {
    border-bottom:0px;
    margin-bottom:0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.wrapper {
    max-width: 700px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    border-radius: 20px;
}

    .wrapper .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #9E1B34;
        text-transform: uppercase;
        text-align: center;
    }

    .wrapper .form {
        width: 100%;
    }

        .wrapper .form .inputfield {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }

            .wrapper .form .inputfield label {
                width: 200px;
                color: #231f1f;
                margin-right: 10px;
                font-size: 14px;
            }

            .wrapper .form .inputfield .input,
            .wrapper .form .inputfield .textarea {
                width: 100%;
                outline: none;
                border: 1px solid #d5dbd9;
                font-size: 15px;
                padding: 8px 10px;
                border-radius: 3px;
                transition: all 0.3s ease;
            }

            .wrapper .form .inputfield .textarea {
                width: 100%;
                height: 125px;
                resize: none;
            }

            .wrapper .form .inputfield .custom_select {
                position: relative;
                width: 100%;
                height: 37px;
            }

                .wrapper .form .inputfield .custom_select:before {
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    border: 8px solid;
                    border-color: #9E1B34 transparent transparent transparent;
                    pointer-events: none;
                }

                .wrapper .form .inputfield .custom_select select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    outline: none;
                    width: 100%;
                    height: 100%;
                    border: 0px;
                    padding: 8px 10px;
                    font-size: 15px;
                    border: 1px solid #d5dbd9;
                    border-radius: 3px;
                }


                    .wrapper .form .inputfield .input:focus,
                    .wrapper .form .inputfield .textarea:focus,
                    .wrapper .form .inputfield .custom_select select:focus {
                        border: 1px solid #9E1B34;
                    }

            .wrapper .form .inputfield p {
                font-size: 14px;
                color: #9E1B34;
            }

            .wrapper .form .inputfield .check {
                width: 15px;
                height: 15px;
                position: relative;
                display: block;
                cursor: pointer;
            }

                .wrapper .form .inputfield .check input[type="checkbox"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                .wrapper .form .inputfield .check .checkmark {
                    width: 15px;
                    height: 15px;
                    border: 1px solid #9E1B34;
                    display: block;
                    position: relative;
                }

                    .wrapper .form .inputfield .check .checkmark:before {
                        content: "";
                        position: absolute;
                        top: 1px;
                        left: 2px;
                        width: 5px;
                        height: 2px;
                        border: 2px solid;
                        border-color: transparent transparent #fff #fff;
                        transform: rotate(-45deg);
                        display: none;
                    }

                .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark {
                    background: #9E1B34;
                }

                    .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before {
                        display: block;
                    }

            .wrapper .form .inputfield .btn {
                text-align: center;
                width: 100px;
                padding: 8px 10px;
                font-size: 15px;
                border: 0px;
                background: #9E1B34;
                color: #fff;
                font-weight: 400;
                cursor: pointer;
                border-radius: 3px;
                outline: none;
                position: center;
                align-items:center;
                margin-left: 150px;
                margin-right:0px;
            }

                .wrapper .form .inputfield .btn:hover {
                    transition: all 0.4s ease;
                    background: #e8b6b6;
                    color: #9E1B34;
                }

            .wrapper .form .inputfield:last-child {
                margin-bottom: 0;
            }
           

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

        .wrapper .form .inputfield label {
            margin-bottom: 5px;
        }

        .wrapper .form .inputfield.terms {
            flex-direction: row;
        }
}

/* footer */

footer {
    width: 100%;
    margin: 0 auto;
   margin:auto;
    bottom: 0;
    left: 0;
    right: 0;
   
    text-align: center;
    padding: 1em 0;
    background: #222;
}

footer span {
      color: #f8f8f8;
      font-weight: 600;
}

#logInBody 
{
    height: 100vh;
    margin-top: -7%;
    background-image: url('images/liberalarts_owl_hero2020-min.png');
    background-size: cover;
}

#login 
{
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.96);
    height: 640px;
    width: 42%;
    text-align: center;
    font-family: 'Century Gothic', Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 7%;
    border-radius: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#personImg
{
    height: 150px;
    width: 175px;
}

label
{
    font-size: 32px;
}

#txtUsername 
{
    height: 36px;
    width: 240px;
}

#txtPassword 
{
    height: 36px;
    width: 240px;
}

a
{
    color: white;
}

a :hover
{
    color: white;
}
